h1 {
    font-size: 65px;
    margin-left: 50px;
    margin-right: 50px;

}

.footer {
    font-size: 6px;
    opacity: 40%;
    margin-bottom: 66%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
body {
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #dcd0ff;
    

    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

button { 
    font-size: 70%;
    border-radius: 9px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}



@media (max-width: 992px) {

   h1 {
       font-size: 100px;
   }

   body {
    
    font-size: 47px;
    margin: auto;
   }

   .footer {
    opacity: 0;

   }

}